{% extends "layout.html" %}
{% block title %}dashboard{% endblock %}

{% block content %}
<h1>dashboard</h1>

{% for row in rows %}

    {% if row['name'] %}

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body bg-light">
                <div class="card-text">
                    {{ row['name'] }}
                </div>
            </div>
        </div>
    </div>
</div>

    {% endif %}

<div class="row">

    {% if row['cards'] %}

    {% for card in row['cards'] %}

    <div class="col-{{ card['width'] }}">
        <div class="card mb-3">
            <div class="card-header">
                {{ card['name'] }}
            </div>
            {% include card['template'] %}
        </div>
    </div>

    {% endfor %}

    {% endif %}

    {% if row['template'] %}

    {% include row['template'] %}

    {% endif %}

</div>

{% endfor %}

{% endblock %}
