<div class="card-body">
    <canvas id="disk-chart" width="" height=""></canvas>
</div>
<script>
var d_ctx = document.getElementById('disk-chart').getContext('2d');
var d_chart = new Chart(d_ctx, {
    type: 'pie',
    data: {
        datasets: [{
            data: [
                {{ data['system']['root_data'].used / data['system']['root_data'].total }},
                {{ data['system']['root_data'].free / data['system']['root_data'].total }}
            ],
            backgroundColor: [
                'red',
                'green'
            ],
            label: '/'
        }],
        labels: [
            'Used',
            'Free'
        ]
    },
    options: {
        responsive: true
    }
});
</script>
