{% extends "layout.html" %}
{% block title %}rooms{% endblock %}

{% block content %}
<h1>rooms</h1>

<ul>
	{% for room in rooms %}
	<li>
        {{ room['name'] }} ({{room['id'] }})
        <a href="{{ url_for('rooms_one', room_id=room['id']) }}">View</a>
        <a href="{{ url_for('rooms_edit', room_id=room['id']) }}">Edit</a>
    </li>
	{% endfor %}
</ul>

<form action="" method="POST">
	<label for="room-name">Room</label>
	<input id="room-name" type="text" name="room_name" value="{{ room_name }}" />
	</br>

	<input type="submit" value="Add" />
</form>
{% endblock %}
