{% extends "layout.html" %}
{% block title %}rooms config{% endblock %}

{% block content %}
<h1>rooms config</h1>

<form action="" method="POST">
	{% for room in rooms %}

	<label for="room_{{ room['id'] }}">{{ room['name'] }}</label>
	<select id="room_{{ room['id'] }}" name="room_{{ room['id'] }}">
	
		{% for key in hue_groups %}

		<option value="{{ key }}" {% if key|int == room['hue_group_id'] %}selected="selected"{% endif %}>{{ hue_groups[key]['name'] }}</option>

		{% endfor %}

	</select>

	</br>

	{% endfor %}

	<input type="submit" value="Save" />
</form>

{% endblock %}
