{% extends "layout.html" %}
{% block title %}dashboard{% endblock %}

{% block content %}
<h1>dashboard</h1>


<canvas id="myChart" width="400" height="400"></canvas>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
		{% for room in rooms %}
			{% if room_temps[room['id']] %}
			{% for room_temp in room_temps[room['id']] %}
		'{{ room_temp['timestamp'] }}',
			{% endfor %}
			{% endif %}
		{% endfor %}
	],
        datasets: [
		
			{% for room in rooms %}
				{% if room_temps[room['id']] %}
		{
			label: '{{ room['name'] }}',
            	data: [
				{% for room_temp in room_temps[room['id']] %}
			{{ room_temp['temperature'] }},
				{% endfor %}
		],
        	},
				{% endif %}
			{% endfor %}
	]
    },
});
</script>

{% endblock %}
