{% extends "layout.html" %}
{% block title %}dashboard{% endblock %}

{% block content %}
<h1>dashboard</h1>


<canvas id="myChart" width="" height=""></canvas>

<script>
var colours = [
	'red',
	'orange',
	'yellow',
	'green',
	'blue',
	'indigo',
	'violet'
];
var colour_choice = 0;
function get_colour(){
	return colours[colour_choice++];
}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [
			{% for room in rooms %}
				{% if room_temps[room['id']] %}
		    {
			    label: '{{ room['name'] }}',
            	data: [
				{% for room_temp in room_temps[room['id']] %}
			        {
                        t: {{ room_temp['timestamp']*1000 }},
                        y: {{ room_temp['temperature'] }}
                    },
				{% endfor %}
		        ],
			    fill: false,
			    borderColor: get_colour(),
        	},
				{% endif %}
			{% endfor %}
	    ]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'series',
                time: {
                    unit: 'minute',
                    displayFormats: {
                        minute: 'HH:mm',
                        second: 'HH:mm:ss',
                    }
                },
                ticks: {
                    source: 'auto',
                    autoSkip: true,
                },
            }]
        }
    }
});
</script>

{% endblock %}
